{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
Contact
{% endblock %}
{% block body %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">

                        <h4 class="page-title">Contact</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="table-responsive" style="overflow-x: auto; width: 100%;">
                                <table class="table table-striped dt-responsive w-100">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th style="width: 120px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in details %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>{{ item.contact }}</td>
                                            <td>{{ item.subject }}</td>
                                            <td>{{ item.message }}</td>
                                            <td>
                                                <a href="#ContactDeleteModel{{ item.id }}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">delete</i></a>
                                                <a href="#ContactViewModel{{ item.id }}" class="view" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="View">visibility</i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% for item in details %}
<!-- Delete Modal HTML -->
<div class="modal fade" id="ContactDeleteModel{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-footer">
                Are you sure you want to delete this Contact Id Number #{{ item.id }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'dashboard:deleteContact' item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- View Modal HTML -->
<div class="modal fade" id="ContactViewModel{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Contact Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <p><strong>Name:</strong> {{ item.name }}</p>
                        <p><strong>Email:</strong> {{ item.email }}</p>
                        <p><strong>Phone:</strong> {{ item.contact }}</p>
                        <p><strong>Subject:</strong> {{ item.subject }}</p>
                        <p><strong>Message:</strong> {{ item.message }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Show modal when clicking the "View" button
    $(document).on('click', '.view', function() {
        var modalId = $(this).attr('href'); // Get the modal ID from the href attribute
        $(modalId).modal('show'); // Show the modal
    });

    // Reset modal content and remove backdrop when it's closed
    $('.modal').on('hidden.bs.modal', function (e) {
        $(this).find('.modal-content').html(''); // Clear the modal content
        $('body').removeClass('modal-open'); // Remove modal-open class from the body
        $('.modal-backdrop').remove(); // Remove the modal backdrop
    });
</script>


{% endfor %}
{% endblock %}

{% endblock %}
