
{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
Dashboard
{% endblock %}
{% block body %}
<title>dashboard</title>
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">                                    
                                    
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div>
                   
                        
                        <!-- end row-->

                        <body style="display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0; font-family: Arial, sans-serif;">
                            <div  class="card"style="text-align: center;">
                                <br><br><br><br><br><br><br><br><br><br><br>
                                <h4 style="margin: 0;">WELCOME TO ADMIN HOMEPAGE</h4><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br>
                       
                            </div>
                        </body>
                    
                
                        <!-- end row -->


                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

             {%endblock%}